.floorplan-raw {
  display: none;
}
.floorplan-widget {
  width: 100%;
  height: 500px;
  padding: 0;
  margin: 0;
  background: #fff;
}
.floorplan-image img {
  width: 50%;
}
p.change-image {
  margin-left: 170px;
}
/* Set .readonly to flex to ensure the floorplan-widget inherits the full width of 
its parent flex container */
.field-indoor .readonly {
  display: flex;
  width: 100%;
}
