.coords,
.coords .form-row {
  display: none;
}
.coords .field-location_selection,
.coords .field-floorplan_selection {
  display: block;
}
/* hide redundant heading in objectlocationinline */
.loci.coords > h2,
.loci.coords > h4 {
  display: none;
}
/* improve raw_id_field look */
.coords .field-location input[type="text"] {
  display: none;
}
.field-location .related-lookup {
  width: auto;
  padding-left: 20px;
  background-position: left center;
}
.field-location .item-label {
  display: inline-block;
  height: 16px;
  font-weight: bold;
  margin-left: 6px;
}
#floorplan_form .field-location .item-label {
  vertical-align: middle;
}
.coords .field-location .item-label,
.field-location strong {
  position: relative;
  bottom: -3px;
}
.field-location strong {
  margin-left: 3px;
}
input[type="text"] {
  width: 320px;
}
/* simulate required fields */
.coords.loci .flex-container > label {
  font-weight: bold !important;
  color: #333;
}
.no-location {
  padding: 10px 0 10px 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
.form-row.field-geometry .flex-container {
  display: block;
}
/* Ensures Layer Control labels in Leaflet are not stretched horizontally */
.form-row .leaflet-control label {
  min-width: 0;
  width: auto;
  display: inline-block;
}
.form-row .leaflet-control label:last-child {
  padding-right: 0;
}
.form-row .leaflet-control input[type="radio"] {
  margin-top: -6px;
}
.form-row .leaflet-control-layers-expanded {
  padding: 6px 12px;
}
/* adjust label width for geometry field */
.form-row.field-geometry label,
.field-geometry.form-row label {
  min-width: auto;
  width: auto;
}
#floorplan_set-group {
  display: none;
}
/* hide image file input for readonly view */
.field-image .readonly input {
  display: none;
}
/* hide geometry edit tools for readonly view */
.field-geometry .readonly .leaflet-draw.geometry {
  display: none;
}
/* avoid underlining leaflet controls */
.leaflet-bar a {
  text-decoration: none !important;
}
@media (max-width: 767px) {
  .field-geometry > div {
    flex-direction: column;
  }
}
