language: python
sudo: false
cache: pip

addons:
  apt:
    packages:
      - sqlite3
      - gdal-bin
      - libproj-dev
      - libgeos-dev
      - libspatialite-dev

python:
  - "3.6"

branches:
  only:
    - master

before_install:
  - pip install -U pip wheel setuptools
  - pip install --no-cache-dir -U -r requirements-test.txt
  - ./runflake8
  - ./runisort
  - npm install -g jslint
  - jslint django_loci/static/django-loci/js/*.js

install:
  - python setup.py -q develop

script:
  - pytest --cov=django_loci
  - coverage run -a --source=django_loci runtests.py

after_success:
  coveralls
