language: python
sudo: false
cache: pip

addons:
  apt:
    packages:
      - sqlite3
      - gdal-bin
      - libproj-dev
      - libgeos-dev
      - libspatialite-dev

python:
  - "3.6"
  - "2.7"

branches:
  only:
    - master

before_install:
  - pip install -U pip wheel setuptools
  - pip install --no-cache-dir -U -r requirements-test.txt
  - ./runflake8
  - ./runisort
  - npm install -g jslint
  - jslint django_loci/static/django-loci/js/*.js

install:
  - if [[ $TRAVIS_PYTHON_VERSION == "3.6" ]]; then pip install "django>=2.0,<2.1"; fi
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then pip install "django>=1.11,<2.0"; fi
  - python setup.py -q develop
  - if [[ $TRAVIS_PYTHON_VERSION == "2.7" ]]; then pip install git+git://github.com/tinio/pysqlite.git@extension-enabled#egg=pysqlite; fi

script:
  - coverage run --source=django_loci runtests.py

after_success:
  coveralls
